{% extends "_layout" %}

{% block content %}

	<ul class="royalSlider rsDefault headSlide portfolioHead">
		{% for block in entry.fullpageImageSlider %}
			{% set images = block.imageSlide %}
			{% if images and images|length %}
				<li>
					{% for image in images %}
						<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
					{% endfor %}
                    <div class="overlay">
                        <div class="row">
                            <div class="columns six">
                                <p class="hidden">.</p>
                            </div>
                            <div class="columns six propTitle midCent">
                                <h2>Properties</h2>
                                <h3>{{ entry.title }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="downArrow">
                        <a href="#content" data-ps2id-offset="0"><img src="/assets/img/slide-arrow.svg" alt="Down" title="Down" /></a>
                    </div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<main id="content" class="portfolioPage" data-midnight="grey">
		<div class="row">
			<div class="columns six">
				{% set entries = craft.entries.section('properties') %}
                <h3>Properties</h3>
				<ul class="propertyNav">
				    {% nav item in entries %}
				        <li class="{{ item.slug == entry.slug ? 'active' }}">
				            <a href="{{ item.url }}">{{ item.title }}</a>
				        </li>
				    {% endnav %}
				</ul>
			</div>
			<div class="columns six midCent">
				{% if craft.request.lastSegment == "office-retail" %}
				{% set officeRetail = craft.entries.section('officeRetail').level(1) %}

					{% if officeRetail | length %}
						<ul class="portNav">
						{% for entry in officeRetail %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
						</ul>
					{% endif %}
                {% elseif craft.request.lastSegment == "bulk-retail-industrial" %}
                {% set bulkRetail = craft.entries.section('bulkRetailIndustrial').level(1) %}

                    {% if bulkRetail | length %}
                        <ul class="portNav">
                        {% for entry in bulkRetail %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% elseif craft.request.lastSegment == "suburban-retail" %}
                {% set suburbanRetail = craft.entries.section('suburbanRetail').level(1) %}

                    {% if suburbanRetail | length %}
                        <ul class="portNav">
                        {% for entry in suburbanRetail %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% elseif craft.request.lastSegment == "carparking" %}
                {% set carparking = craft.entries.section('carparking').level(1) %}

                    {% if carparking | length %}
                        <ul class="portNav">
                        {% for entry in carparking %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
				{% elseif craft.request.lastSegment == "service-stations" %}
                {% set serviceStations = craft.entries.section('serviceStations').type('serviceStationOverview').level(1) %}
				<ul class="properties statProp">
					{% if serviceStations | length %}
						{% for entry in serviceStations %}
						<li class="stationGrid">
							<ul class="portSlider statSlide rsDefault">

							{% for block in entry.imageSlider %}
								{% set images = block.imageSlide %}
								{% if images and images|length %}
									<li>
										{% for image in images %}
											<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
										{% endfor %}
									</li>
								{% endif %}
							{% endfor %}
							</ul>
							<h4>{{ entry.title }}</h4>

							{{ entry.description }}
						</li>
						{% endfor %}
					{% endif %}
				</ul>
                {% elseif craft.request.lastSegment == "sydney-retail" %}
                {% set sydneyRetail = craft.entries.section('sydneyRetail').level(1) %}

                    {% if sydneyRetail | length %}
                        <ul class="portNav">
                        {% for entry in sydneyRetail %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
				{% endif %}
			</div>
		</div>

		{% if craft.request.lastSegment == "service-stations" %}
		<div class="row">
			<div class="columns six">
				&nbsp;
			</div>
			<div class="columns six midCent">
			{% set serviceStations = craft.entries.section('serviceStations').type('serviceStationsPortfolio').level(1) %}

				{% if serviceStations | length %}
					<ul class="portNav">
					{% for entry in serviceStations %}
						<li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
							{{ entry.title }}
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
		{% endif %}

		{% if craft.request.lastSegment == "office-retail" %}
		{% set officeRetail = craft.entries.section('officeRetail').limit(1) %}

			{% if officeRetail | length %}
				{% for entry in officeRetail %}
				<div class="row">
					<div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
						<ul class="portSlider rsDefault">

						{% for block in entry.imageSlider %}
							{% set images = block.imageSlide %}
							{% if images and images|length %}
								<li>
									{% for image in images %}
										<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
									{% endfor %}
								</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="columns six">
						<h4>{{ entry.title }}</h4>
					</div>
					<div class="columns six midCentOne">
						{{ entry.description }}
					</div>
				</div>
				{% endfor %}
			{% endif %}

        {% elseif craft.request.lastSegment == "bulk-retail-industrial" %}
        {% set bulkRetail = craft.entries.section('bulkRetailIndustrial').limit(1) %}

            {% if bulkRetail | length %}
                {% for entry in bulkRetail %}
                <div class="row">
                    <div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="columns six">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six midCentOne">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% elseif craft.request.lastSegment == "suburban-retail" %}
            {% set suburbanRetail = craft.entries.section('suburbanRetail').limit(1) %}

                {% if suburbanRetail | length %}
                    {% for entry in suburbanRetail %}
                    <div class="row">
                        <div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
                            <ul class="portSlider rsDefault">

                            {% for block in entry.imageSlider %}
                                {% set images = block.imageSlide %}
                                {% if images and images|length %}
                                    <li>
                                        {% for image in images %}
                                            <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns six">
                            <h4>{{ entry.title }}</h4>
                        </div>
                        <div class="columns six midCentOne">
                            {{ entry.description }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% elseif craft.request.lastSegment == "carparking" %}
        {% set carparking = craft.entries.section('carparking').limit(1) %}

            {% if carparking | length %}
                {% for entry in carparking %}
                <div class="row">
                    <div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="columns six">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six midCentOne">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% elseif craft.request.lastSegment == "service-stations" %}
            <div id="map" class="stationsMap">
                <script>
                        var mymap = L.map('map',{
							tap: true,
							dragging: true,
	                        zoomControl: true,
							scrollWheelZoom: false,
                        }).setView([-36.845, 174.759], 12);

                        L.tileLayer('https://api.mapbox.com/styles/v1/asferens/cj5m78sk136ou2rl6sn42ztg4/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ', {
                            id: 'mapbox.streets',
                            accessToken: 'pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ'
                        }).addTo(mymap);

						// create custom icon
	                    var mairangiIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-36.74664,174.73636], {
							icon: mairangiIcon
						}).bindTooltip("Caltex Mairangi Bay",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var penroseIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-36.9035576,174.8065161], {
							icon: penroseIcon
						}).bindTooltip("Caltex Penrose",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var mtroskillIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-36.9003047,174.7406804], {
							icon: mtroskillIcon
						}).bindTooltip("Caltex Mt Roskill",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var sandringhamIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-36.8849057,174.7370313], {
							icon: sandringhamIcon
						}).bindTooltip("Caltex Sandringham",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var dflatIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-36.6489376,174.640131], {
							icon: dflatIcon
						}).bindTooltip("Caltex Dairy Flat",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var kaitaiaIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-35.0750779,173.2233274], {
							icon: kaitaiaIcon
						}).bindTooltip("Caltex Kaitaia",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var paihiaIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-35.2789109,174.0800316], {
							icon: paihiaIcon
						}).bindTooltip("Caltex Paihia",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var whangareiIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-35.7334089,174.312609], {
							icon: whangareiIcon
						}).bindTooltip("Caltex Whangarei",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var taurikoIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-37.7415638,176.0924712], {
							icon: taurikoIcon
						}).bindTooltip("Caltex Tauriko",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var rotoruaIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-38.1369745,176.2541986], {
							icon: rotoruaIcon
						}).bindTooltip("Caltex Rotorua",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

						// create custom icon
	                    var BPJervoisIcon = L.icon({
	                        iconUrl: '/assets/img/station-icon.svg',
	                        iconSize: [15, 15], // size of the icon
	                        });

                        // create marker object, pass custom icon as option, add to map
                        var marker = L.marker([-36.8456626,174.7378945], {
							icon: BPJervoisIcon
						}).bindTooltip("BP Jervois Road",
						    {
						        permanent: true,
						        direction: 'right'
						    }
						).addTo(mymap);

                    </script>
                </div>
            {% elseif craft.request.lastSegment == "sydney-retail" %}
            {% set sydneyRetail = craft.entries.section('sydneyRetail').limit(1) %}

                {% if sydneyRetail | length %}
                    {% for entry in sydneyRetail %}
                    <div class="row">
                        <div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
                            <ul class="portSlider rsDefault">

                            {% for block in entry.imageSlider %}
                                {% set images = block.imageSlide %}
                                {% if images and images|length %}
                                    <li>
                                        {% for image in images %}
                                            <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns six">
                            <h4>{{ entry.title }}</h4>
                        </div>
                        <div class="columns six">
                            {{ entry.description }}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
		{% endif %}

		{% if craft.request.lastSegment == "office-retail" %}
		{% set officeRetail = craft.entries.section('officeRetail').offset(1) %}
		<ul class="properties">
			{% if officeRetail | length %}
				{% for entry in officeRetail %}
				<li id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="propertyGrid">
					<ul class="portSlider rsDefault">

					{% for block in entry.imageSlider %}
						{% set images = block.imageSlide %}
						{% if images and images|length %}
							<li>
								{% for image in images %}
									<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
								{% endfor %}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
					<h4>{{ entry.title }}</h4>

					{{ entry.description }}
				</li>
				{% endfor %}
			{% endif %}
		</ul>
        {% elseif craft.request.lastSegment == "bulk-retail-industrial" %}
        {% set bulkRetail = craft.entries.section('bulkRetailIndustrial').offset(1) %}

            {% if bulkRetail | length %}
                {% for entry in bulkRetail %}
                <div class="row">
                    <div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="columns six">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% elseif craft.request.lastSegment == "suburban-retail" %}
		{% set suburbanRetail = craft.entries.section('suburbanRetail').offset(1) %}
    		<ul class="properties">
    			{% if suburbanRetail | length %}
    				{% for entry in suburbanRetail %}
    				<li id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="propertyGrid">
    					<ul class="portSlider rsDefault">

    					{% for block in entry.imageSlider %}
    						{% set images = block.imageSlide %}
    						{% if images and images|length %}
    							<li>
    								{% for image in images %}
    									<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
    								{% endfor %}
    							</li>
    						{% endif %}
    					{% endfor %}
    					</ul>
    					<h4>{{ entry.title }}</h4>

    					{{ entry.description }}
    				</li>
    				{% endfor %}
    			{% endif %}
    		</ul>
        {% elseif craft.request.lastSegment == "carparking" %}
        {% set carparking = craft.entries.section('carparking').offset(1) %}

            {% if carparking | length %}
                {% for entry in carparking %}
                <div class="row">
                    <div id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="columns twelve">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="columns six">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% elseif craft.request.lastSegment == "sydney-retail" %}
		{% set sydneyRetail = craft.entries.section('sydneyRetail').offset(1) %}
		<ul class="properties">
			{% if sydneyRetail | length %}
				{% for entry in sydneyRetail %}
				<li id="{{ entry.title|replace({' ':'','/':'','-':'','&':'',',':''}) }}" class="propertyGrid">
					<ul class="portSlider rsDefault">

					{% for block in entry.imageSlider %}
						{% set images = block.imageSlide %}
						{% if images and images|length %}
							<li>
								{% for image in images %}
									<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
								{% endfor %}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
					<h4>{{ entry.title }}</h4>

					{{ entry.description }}
				</li>
				{% endfor %}
			{% endif %}
		</ul>
		{% endif %}

	</main>

{% endblock %}
