{% extends "_layout" %}

{% set myCss %}

    .propertyWrap{
        display: inline-block;
        padding-bottom: 3rem
    }

    ul.properties li.propertyGrid.threes {
        width: 32.633%;
        margin-bottom: 4rem;
    }

    ul.properties li.propertyGrid.threes:nth-child(2n){
        margin-left: 0;
    }

    ul.properties li.propertyGrid.threes:nth-child(3n){
        margin-left: 1%;
        margin-right: 0;
    }

    ul.properties li.propertyGrid.threes:nth-child(3n+1) {
        margin-right: 1%;
        margin-left: 0;
    }

    ul.properties li.propertyGrid.threes h4{
        padding-top: 1rem;
    }

    ul.properties li.propertyGrid.threes .enquire{
        color: #AC6242;
        text-decoration: underline;
    }

    ul.propertyDetails{
        margin: 2rem 0;
        list-style: none;
    }

    ul.propertyDetails li{
        border-bottom: 1px solid #867F7B;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .pDL{
        display: inline-block;
        width: 66.666%;
        float: left;
    }

    .pDR{
        display: inline-block;
        width: 33.333%;
        float: right:
    }

    .lease-page .properties .enquire{
        font-weight: 600;
        color: #AC6242;
        text-decoration: underline;
        //border-bottom: 1px solid #AC6242;
    }

    @media screen and (max-width: 750px) {
        ul.properties li.propertyGrid.threes {
            width: 100%;
        }
    }

{% endset %}

{% includeCss myCss %}

{% block content %}

    <ul class="royalSlider rsDefault">
        {% for block in entry.fullpageImageSlider %}
            {% set images = block.imageSlide %}
            {% if images and images|length %}
                <li>
                    {% for image in images %}
                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                    {% endfor %}
                    <figure class="rsCaption">{{ block.imageTitle }}</figure>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <main id="content" class="portfolioPage" data-midnight="grey">
        <ul class="properties">
            {% for block in entry.forLease %}
                <span class="propertyWrap">
                    <li class="propertyGrid twos">

                    {% set image = block.propertyImage %}
                    {% if image and image|length %}
                        {% for propertyImage in image %}
                            <img src="{{ propertyImage.getUrl('') }}" width="100%" title="{{ block.propertyTitle }}" alt="{{ block.propertyTitle }}">
                        {% endfor %}
                    {% endif %}

                    </li>
                    <li class="propertyGrid twos">
                        <h4>{{ block.propertyTitle }}</h4>

                        <ul class="propertyDetails">
                            {% if block.tennancy|length %}
                                <li>
                                    <span class="pDL">Tennancy</span>
                                    <span class="pDR">{{ block.tennancy }}</span>
                                </li>
                            {% endif %}
                            {% if block.propertyType|length %}
                                <li>
                                    <span class="pDL">Property Type</span>
                                    <span class="pDR">{{ block.propertyType }}</span>
                                </li>
                            {% endif %}
                            {% if block.area|length %}
                                <li>
                                    <span class="pDL">Area</span>
                                    <span class="pDR">{{ block.area }}</span>
                                </li>
                            {% endif %}
                            {% if block.available|length %}
                                <li>
                                    <span class="pDL">Available</span>
                                    <span class="pDR">{{ block.available }}</span>
                                </li>
                            {% endif %}
                            {% if block.netRent|length %}
                                <li>
                                    <span class="pDL">Net Rent</span>
                                    <span class="pDR">{{ block.netRent|nl2br }}</span>
                                </li>
                            {% endif %}
                        </ul>

                        {{ block.propertyDescription }}

                        <br /><br />

                        <p class="enquire navEnq">Enquire</p>
                    </li>
                </span>
            {% endfor %}
        </ul>

    </main>

{% endblock %}
