{% extends "_layout" %}

{% block content %}

    <section class="mapOverlay" data-midnight="grey">
        <div id="map" class="map">
            <script>
                    var mymap = L.map('map',{
                        dragging: false,
                        tap: false,
                        zoomControl: false,
                    }).setView([-36.845, 174.759], 16);

                    L.tileLayer('https://api.mapbox.com/styles/v1/asferens/cj56375fn2rts2sqlckbyrjq8/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ', {
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ'
                    }).addTo(mymap);

                    // create custom icon
                    var contactIcon = L.icon({
                        iconUrl: '/assets/img/pin.svg',
                        iconSize: [30, 30], // size of the icon
                        });

                    // create marker object, pass custom icon as option, add to map
                    var marker = L.marker([-36.845, 174.759], {icon: contactIcon}).addTo(mymap);

                </script>
            </div>
    </section>

    <main id="content" data-midnight="grey">
        <section class="contact">
            <div class="row">
                <div class="columns three">
                    <h3>Address</h3>
                    {{ entry.address|nl2br }}<br />
                    <br />
                    <h3>Postal</h3>
                    {{ entry.postal|nl2br }}<br />
                    <br />
                    <h3>Contact</h3>
                    NZ {{ entry.phone }}<br />
                    AUS {{ entry.phoneAus }}<br />
                    <a href="mailto{{ entry.email }}">{{ entry.email }}</a>
                </div>

                <div class="columns three">
                    &nbsp;
                </div>

                <div class="columns six midCent">
                    <div class="peopleAcordWrap">
                        {% for block in entry.people %}
                        <div data-accordion class="accordion peopleAcord">
                            <h4 data-control>{{ block.personName }}</h4>
                            <div data-content class="peopleContent">
                                <h5>
                                    <a href="mailto:{{ block.personEmail }}">{{ block.personEmail }}</a>
                                </h5>
                                <h5>
                                    {{ block.personPhone }}
                                </h5>
                                <br /><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <h6 class="enquire">Enquire</h6>

                </div>
            </div>
        </section>
    </main>

{% endblock %}
