// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 2rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  background: $background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.hidden{
    opacity: 0;
}

/* Site wide */

#header{
    color: $white;
    a, a:visited{
        color: $white;
    }
    .midCent, .enquire.navEnq{
        @media screen and (max-width: 850px) {
            display: none;
        }
    }
    #navIcon{
        span{
            background: $white;
        }
    }
}
#container{
    .fullMenu.openMenu, .enquireMenu.openEnquire{
        .midCentNav, .enquire.navEnq, .enqWrap p.enquire{
            @media screen and (max-width: 750px) {
                display: none;
            }
        }
        @media screen and (max-width: 750px) {
            .columns.six{
                width: 80%;
            }
        }
        @media screen and (max-width: 750px) {
            .icoWrap, .three.enqWrap{
                width: 20%;
                float: left;
            }
        }
    }
}

.tenants-page, .contact-page{
    #header{
        color: $grey;
        a, a:visited{
            color: $grey;
        }
        #navIcon{
            span{
                background: $grey;
            }
        }
    }
}

#content{
    //margin: 3rem;
}

#header{
    width: 100%;
    position: fixed;
    z-index: 999;
    //color: $grey;
    top: 0;
    &.menuWrap{
        height: 100vh !important;
        .midnightHeader{
            background: none;
        }
    }
    /*a, a:visited{
        color: $grey;
        text-decoration: none;
    }*/
    .midnightHeader.grey{
        background: rgba(249, 249, 249, 0.96);
        color: $grey;
        height: 84px;
        &.noBg{
            background: none;
        }
        a, a:visited{
            color: $grey
        }
        #navIcon{
            span{
                background: $grey;
            }
            &.open{
                opacity: 1;
            }
        }
    }
    #navIcon{
        width: 20px; //60px;
        height: 18px; //45px;
        position: absolute;
        margin: 0;
        top: 3.2rem;
        right: 3rem;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        z-index: 9999;
        cursor: pointer;
        span{
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            //background: $grey;
            border-radius: 0;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2), &:nth-child(3){
                top: 8px; //18px;
            }
            &:nth-child(4){
                top: 16px; //36px;
            }
        }
        &.open{
            opacity: 0;
            /*span{
                &:nth-child(1){
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2){
                    transform: rotate(45deg);
                }
                &:nth-child(3){
                    transform: rotate(-45deg);
                }
                &:nth-child(4){
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }*/
        }
    }
}

.fullMenu{
    height: 0;
    nav{
        display: none;
        li, a{
            color: $white;
            transition: color 0.2s ease;
            &.enquire:hover, &.subMenu:hover{
                color: $bronze
            }
        }
        a:hover, a:active{
            color: $bronze;
        }
    }
}
.fullMenu.openMenu{
    height: 100vh;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(22, 20, 20, 0.96);
    z-index: 999;
    transition: background 0.4s ease;
    .icoWrap{
        position: relative;
        width: 24%;
    }
    #navIconClose{
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 0.3rem;
        right: 0.2rem;
        cursor: pointer;
        &:before{
            position: absolute;
            content: '';
            background: url('/assets/img/cross.svg') no-repeat;
            background-size: 16px 16px;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    nav{
        display: block;
        color: $white;
        &.mainNav{
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                &.open{
                    li{
                        &.subMenu{
                            &:before{
                                background: url('/assets/img/cross.svg') no-repeat;
                                background-size: 16px 16px;
                                width: 2rem;
                                height: 1.8rem;
                                border: none;
                                top: 1.4rem;
                                right: 0.2rem;
                                transform: rotate(0);
                                transition: none;
                            }
                        }
                    }
                }
                li{
                    border-top: 1px solid $grey;
                    font-size: 2rem;
                    line-height: 2.7rem;
                    margin: 0;
                    padding: 0.6rem 0 0.8rem;
                    &.subMenu{
                        position: relative;
                        cursor: pointer;
                        &:before{
                            background: url('/assets/img/arrow.svg') no-repeat;
                            background-size: 16px 16px;
                            width: 2rem;
                            height: 2rem;
                            /*border-right: 2px solid $white;
                            border-bottom: 2px solid $white;*/
                            position: absolute;
                            right: 0.2rem;
                            content: '';
                            top: 1.1rem;
                            //transform: rotate(45deg);
                            transition: none;
                        }
                    }
                }
                .propertyNav{
                    li{
                        border-top: none;
                        color: $grey;
                        padding: 0;
                        line-height: 2.7rem;
                        &:last-child{
                            padding-bottom: 1rem;
                        }
                        a, a:visited{
                            color: $grey;
                            transition: color 0.2s ease;
                            &:hover, &:active{
                                color: $white;
                            }
                        }
                        &.active{
                            color: $white;
                            a, a:visited{
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fullMenu.openMenu nav.mainNav ul.accordion.open{
    .propertyNav{
        padding-bottom: 0.6rem;
    }
}

.enquireMenu{
    height: 0;
    nav{
        display: none;
        li, a{
            color: $white;
        }
    }
    .enqForm{
        display: none;
        form{
            display: none;
        }
    }
}
.enquireMenu.openEnquire{
    height: 100vh;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(22, 20, 20, 0.9);
    z-index: 999;
    transition: background 0.4s ease;
    nav{
        display: block;
        color: $white;
    }
    .enqWrap{
        position: relative;
        width: 24%;
    }
    .enqClose{
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 0.3rem;
        right: 0.2rem;
        &:before{
            position: absolute;
            content: '';
            background: url('/assets/img/cross.svg') no-repeat;
            background-size: 16px 16px;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    .enqForm{
        display: block;
        margin: 3rem;
        box-sizing: border-box;
        h3{
            font-size: 2rem;
            letter-spacing: 0;
            font-family: $font-family;
            margin: 6rem 0 6rem;
            color: $white;
        }
        form{
            display: block;
            .form__label, .form__note{
                display: none;
            }
            input, textarea{
                font-size: 2rem;
                border-radius: 0;
                background: none;
                width: 100%;
                color: $white;
                border-left: none;
                border-top: 1px solid $grey;
                border-right: none;
                border-bottom: none;
                margin: 0;
                padding-left: 0;
            }
            .button{
                border: none;
                color: $white;
                margin: 4rem 0 0;
                padding: 0;
                text-transform: capitalize;
                font-size: 2rem;
                letter-spacing: 0;
                font-weight: normal;
                font-family: $font-family;
            }
            ::-webkit-input-placeholder {
            }

            :-moz-placeholder {
            }

            ::-moz-placeholder {
            }

            :-ms-input-placeholder {
            }
            input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
	             opacity: 0.2;
            }
            input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{
	             opacity: 0.2;
            }
            input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{
	             opacity: 0.2;
            }
            input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{
            	opacity: 0.2;
            }
        }
    }
}

.row{
    .columns{
        &.midCent{
            margin-left: 2%;
            @media screen and (max-width: 750px) {
                margin-left: 0;
            }
            &.six{
                width: 50%;
                @media screen and (max-width: 750px) {
                    width: 100%;
                }
            }
        }
        &.midCentOne{
            margin-left: 3%;
            @media screen and (max-width: 750px){
                margin-left: 0;
            }
        }
        &.midCentNav{
            margin-left: 2%;
        }
    }
}

.enquire{
    cursor: pointer;
    &.navEnq{
        display: inline;
        line-height: 1.6;
    }
}

.enquireMenu.openEnquire{
    .enqWrap{
        p.enquire{
            display: inline;
            line-height: 1.6;
        }
    }
}

.enterPara{
    font-size: 2rem;
    line-height: 2.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

nav, footer{
    margin: 3rem;
    h1, h2, h5{
        font-family: $font-bold;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.6;
        letter-spacing: 0;
        margin: 0;
    }
}

nav{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    p{
        font-family: $font-bold;
        margin-bottom: 0;
    }
}
img{
    width: 100%;
}

#content{
    margin: 0 3rem;
    padding: 6rem 0;
    overflow: auto;
}

.cook.property-page{
    .rsArrow{
        @media screen and (max-width: 750px) {
            display: none !important;
        }
    }
    #content{
        padding: 0 0 9rem;
    }
}

#content, footer{
    color: $grey;
    a, a:visited{
        color: $grey;
        text-decoration: none;
        transition: color 0.2s ease;
    }
    a:hover, a:active{
        color: $bronze;
        text-decoration: none;
    }
}

/* About Us */

section.about{
    margin: 0 0 3rem;
    padding-top: 9rem;
    h3{
        font-family: $font-real-bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-size: 2rem;
        line-height: 2.7rem;
        letter-spacing: 0;
    }
}

section.overview{
    margin: 3rem 0 12rem;
    min-height: 10rem;
    h4{
        font-family: $font-real-bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-size: 2rem;
        line-height: 2.7rem;
        letter-spacing: 0;
    }
    ul.propertyThumb{
        margin: 2.4rem 0 0;
        padding: 0;
        overflow: auto;
        list-style: none;
        @media screen and (max-width: 750px) {
            overflow: inherit;
        }
        a{
            &:nth-child(1), &:nth-child(4) {
                li{
                    margin-left: 0;
                }
            }
            &:nth-child(3), &:nth-child(6) {
                li{
                    margin-right: 0;
                }
            }
            li{
                width: 32.6666666%;
                margin: 0.5%;
                float: left;
                display: block;
                position: relative;
                line-height: 0;
                @media screen and (max-width: 750px) {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 3rem;
                }
                img{
                    transition: filter 0.2s ease;
                }
                .thumbHover{
                    color: $white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(134, 127, 123, 0.6);
                    opacity: 0;
                    transition: opacity 0.2s ease;
                    @media screen and (max-width: 750px){
                        color: $grey;
                        position: relative;
                        opacity: 1;
                        background: none;
                    }
                    h5{
                        margin: 35% 2rem;
                        font-size: 2rem;
                        letter-spacing: 0;
                        font-family: $font-real-bold;
                        @media screen and (max-width: 750px){
                            margin: 1rem 0 0;
                        }
                    }
                }
                &:hover{
                    img{
                        filter: grayscale(100%);
                    }
                    .thumbHover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* Property Overviews */

#content{
    ul.propertyNav{
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 750px){
            margin-bottom: 5rem;
        }
        li{
            font-size: 1.5rem;
            margin: 0;
            font-family: $font-family;
            letter-spacing: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            &.active{
                a, a:visited{
                    color: $bronze;
                }
            }
        }
    }
    ul.portNav{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            font-size: 1.5rem;
            margin: 0;
            padding: 0.4rem 0;
            border-top: 1px solid $grey;
            &:last-child{
                border-bottom: 1px solid $grey;
            }
        }
    }
}

.headSlide{
    img{
        filter: grayscale(100%);
    }
    .overlay{
        position: absolute;
        background: rgba(134, 127, 123, 0.8);
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .row{
            margin-top: 22%;
            .propTitle{
                color: $white;
                @media screen and (max-width: 750px) {
                    display: none;
                }
                h2, h3{
                    font-size: 4.2rem;
                    letter-spacing: 0.02rem;
                    margin: 0;
                }
            }
        }
    }
}

.heroArrow{
    height: 100%;
    width: 94px;
    position: absolute;
    cursor: pointer;
    z-index: 21;
    &.heroArrowLeft{
        left: 0;
        top: 0;
        .heroArrowIcn{
            transform: rotate(180deg);
        }
    }
    &.heroArrowRight{
        right: 0;
        top: 0;
    }
    .heroArrowIcn{
        width: 38px;
        height: 16px;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -18px;
        position: absolute;
        cursor: pointer;
        background: url('/assets/img/hero-arrow.svg') no-repeat;
    }
}

.rsDefault{
    .rsArrow{
        height: 100%;
        width: 44px;
        position: absolute;
        cursor: pointer;
        z-index: 21;
        opacity: 1;
        visibility: visible;
        &.rsArrowLeft{
            left: 0;
            top: 0;
            .rsArrowIcn{
                transform: rotate(180deg);
            }
        }
        &.rsArrowRight{
            right: 0;
            top: 0;
        }
        .rsArrowIcn{
            width: 32px;
            height: 28px;
            top: 50%;
            left: 50%;
            margin-top: -14px;
            margin-left: -16px;
            position: absolute;
            cursor: pointer;
            background: url('/assets/img/slide-arrow.svg') no-repeat;
        }
    }
}

.service.stations-page{
    #content{
        ul.portNav{
            li{
                border-top: none;
                padding: 0;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}

.stationsMap{
    margin: 9rem 0 0;
    .leaflet-tooltip{
        background: none;
        padding: 8px 7px 6px;
        font-family: $font-bold;
        color: $grey;
        font-size: 1.5rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        &.leaflet-tooltip-left:before, &.leaflet-tooltip-right:before{
            border: none;
            display: none;
        }
    }
}

/* Tenants */

.tenants{
    margin-top: 6rem;
    h3{
        margin-bottom: 5.4rem;
        font-size: 2rem;
        letter-spacing: 0;
        font-family: $font-real-bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
    .placeholderBox{
        img.placeImg{
            display: none;
        }
    }
    .logoWrap{
        min-height: 40rem;
        .placeholderBox{
            img:first-child{
                display: block;
            }
        }
        @media screen and (max-width: 750px) {
            min-height: 0;
        }
        .placeholderBox, .logoBox{
            @media screen and (max-width: 750px) {
                display: none !important;
                height: 0;
            }
        }
    }
    .tenPara{
        h4{
            font-size: 1.5rem;
            font-family: $font-family;
        }
    }
    ul.tenantList{
        list-style: none;
        overflow: auto;
        margin: 0 0 12rem;
        padding: 0;
        li{
            font-size: 1.5rem;
            cursor: pointer;
            margin: 0;
            &:hover{
                color: $bronze;
            }
        }
    }
}

/* Contact */

.mapOverlay{
    z-index: 899;
    height: 80vh;
    pointer-events: none;
}

#map{
    height: 80vh;
    width: 100%;
}

.leaflet-control-attribution.leaflet-control{
    display: none !important;
}

.contact-page{
    #content{
        padding: 6rem 0 21rem;
    }
}

.contact{
    #map{
        height: 80vh;
        width: 100%;
        .leaflet-top, .leaflet-bottom{
            z-index: 888;
            display: none;
        }
    }
}

.leaflet-left{
    z-index: 888;
}

.leaflet-bar.leaflet-control{
    border: 1px solid $grey !important;
    border-radius: 0;
}

.leaflet-touch .leaflet-bar a{
    line-height: 28px;
}

.leaflet-bar a:first-child, .leaflet-bar a:last-child{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.contact{
    h3{
        margin: 0;
        font-size: 1.5rem;
        color: $bronze;
        font-family: $font-family;
    }
    h4, h5, h6{
        margin: 0;
        font-size: 1.5rem;
    }
    .peopleAcordWrap{
        margin-bottom: 6rem;
    }
    .peopleAcord{
        border-top: 1px solid $grey;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        position: relative;
        h4{
            @media screen and (max-width: 750px) {
                padding-right: 4rem;
            }
        }
        &.open{
            h4{
                font-size: 1.5rem;
                &:before{
                    position: absolute;
                    content: '';
                    background: url('/assets/img/grey-cross.svg') no-repeat;
                    background-size: 16px 16px;
                    width: 2rem;
                    height: 1.8rem;
                    border: none;
                    top: 1.4rem;
                    right: 0;
                    transition: none;
                }
            }
        }
        h4:hover{
            color: $bronze;
            cursor: pointer;
        }
        &.open{
            h4{
                color: $bronze;
            }
        }
    }
}

.success{
    padding: 14rem 0 18rem;
}

/* Footer */

#footer{
    margin-bottom: 9rem;
    .top{
        width: 16px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 111;
    }
    .upArrow{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 16px;
            height: 60px;
            background: url('/assets/img/up-arrow.svg') no-repeat;
            background-size: 16px 60px;
            @media screen and (max-width: 750px) {
                bottom: 0.2rem;
                top: auto;
            }
        }
    }
    h5{
        color: $bronze;
        font-family: $font-family;
        @media screen and (max-width: 750px) {
            padding-top: 1rem;
        }
    }
}

/* Royal slider */

ul.royalSlider.rsDefault{
    width: 100% !important;
    //height: 100vh !important;
    line-height: 0;
    list-style: none;
    background: $background;
    padding: 0;
    margin: 0;
    overflow: hidden;
    @media screen and (max-width: 750px) {
        // height: 40vh !important;
    }
    li{
        //position: relative;
        .downArrow{
            position: absolute;
            width: 1.4rem;
            left: 0;
            right: 0;
            bottom: 3rem;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
            animation: pulse 1s ease infinite;
            @keyframes pulse {
                0% {
                    transform: translateY();
                    animation-timing-function: ease-in;
                }
                50% {
                    transform: translateY(1rem);
                    animation-timing-function: ease-out;
                }
                100% {
                    transform: translateY();
                }
            }
            @media screen and (max-width: 750px){
                display: none;
            }
            img{
                transform: rotate(90deg);
            }
        }
    }
    .rsGCaption{
        background: none;
        padding: 0;
        left: 3rem;
        bottom: 4rem;
        font-size: inherit;
        border-radius: 0;
        width: 50%;
        .rsCaption{
            position: absolute;
            left: 3rem;
            bottom: 4rem;
            z-index: 777;
            font-family: $font-bold;
            color: $white;
            margin: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
        }
    }
}

ul.properties.statProp{
    margin-bottom: 6rem;
}

ul.portSlider.rsDefault{
    width: 100% !important;
    //height: 100% !important;
    line-height: 0;
    list-style: none;
    margin: 6rem 0 3rem;
    &.statSlide{
        margin: 0 0 3rem;
    }
}

ul.properties{
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style: none;
    li.propertyGrid{
        width: 49%;
        float: left;
        @media screen and (max-width: 750px) {
            width: 100%;
        }
        &:nth-child(odd){
            margin-right: 1%;
            @media screen and (max-width: 750px) {
                margin: 0;
            }
        }
        &:nth-child(even){
            margin-left: 1%;
            @media screen and (max-width: 750px) {
                margin: 0;
            }
        }
    }
}

.portfolioHead{
    .row{
        .columns.six.propTitle.midCent{
            @media screen and (max-width: 750px) {
                margin: 0 3rem;
                h2, h3{
                    font-size: 3rem;
                }
            }
        }
    }
}

.officeretail-page{
    ul.properties{
        li.propertyGrid{
            &:nth-last-child(odd){
                /*clear: both;*/
            }
        }
    }
}

#content{
    &.portfolioPage{
        margin: 0 3rem 15.4rem;
        padding: 9rem 0;
        h3{
            color: $bronze;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            font-family: $font-family;
        }
        h4{
            color: $bronze;
            font-size: 1.5rem;
            margin-bottom: 0;
            font-family: $font-family;
        }
    }
}

.service.stations-page{
    #content{
        &.portfolioPage{
            margin: 0 3rem 15.4rem;
        }
    }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $bronze;
  text-decoration: none;
  &:hover {
    color: darken($bronze, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
