// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

@font-face {
  font-family: 'Circular-Book';
  src: url('/assets/fonts/CircularStd-Book.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/CircularStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/CircularStd-Book.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Circular-Medium';
  src: url('/assets/fonts/circular-medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/circular-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/circular-medium.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/assets/fonts/circular-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/circular-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/circular-medium.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('/assets/fonts/CircularStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/CircularStd-Bold.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('/assets/fonts/CircularStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;  }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;       }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 1.8rem; letter-spacing: .01rem; }
  h4 { font-size: 1.8rem; letter-spacing: .01rem; }
  h5 { font-size: 1.8rem; letter-spacing: .01rem; }
  h6 { font-size: 1.8rem; letter-spacing: .01rem; }
}

p {
  margin-top: 0;
}
