<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#867f7b">
	<meta name="theme-color" content="#ffffff">

	{% includeCssFile "/assets/styles/site.css?v=1.3" %}
	{% includeCssFile "/royalslider/royalslider.css" %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	{% includeJsFile "/assets/js/main.min.js?v=1.2" %}
	{% includeJsFile "/royalslider/jquery.royalslider.min.js" %}
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"

   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>

</head>

<body class="{{ entry.title|lower|replace({'/':''}) }}-page">
	<div id="container">
		<header id="header">
            <nav class="row">
                <div class="columns six">
                    <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
                </div>
                <div class="columns three midCent">
                    <h2>New Zealand &amp; Australia</h2>
                </div>
                <div class="columns three">
                    <p class="enquire navEnq">Enquire</p>
					<div id="navIcon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
                </div>
			</nav>
		</header>

		<div class="fullMenu">
			<nav class="row">
				<div class="columns six">
					<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
				</div>
				<div class="columns three midCentNav">
					<h2>New Zealand &amp; Australia</h2>
				</div>
				<div class="columns three icoWrap">
					<p class="enquire navEnq">Enquire</p>
					<div id="navIconClose"></div>
				</div>
			</nav>

			<nav data-accordion-group class="mainNav row">
				<ul data-accordion class="columns twelve accordion">
					<li><a href="/#aboutUs" id="aboutLink" rel="m_PageScroll2id">About</a></li>
					<li><a href="/tenants">Tenants</a></li>
					<li data-control class="subMenu">Properties</li>
						{% set entries = craft.entries.section('properties') %}
						<ul data-content class="propertyNav">
							{% nav item in entries %}
								<li class="{{ item.slug == entry.slug ? 'active' }}">
									<a href="{{ item.url }}">{{ item.title }}</a>
								</li>
							{% endnav %}
						</ul>
					<li><a href="/for-lease">For Lease</a></li>
					<li><a href="/contact">Contact</a></li>
					<li class="enquire">Enquire</li>
				</ul>
			</nav>
		</div>
		<div class="enquireMenu">
			<nav class="row">
				<div class="columns six">
					<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
				</div>
				<div class="columns three midCentNav">
					<h2>New Zealand &amp; Australia</h2>
				</div>
				<div class="columns three enqWrap">
					<p class="enquire">Enquire</p>
					<div class="enqClose enquire">
					</div>
				</div>
			</nav>

			<div class="enqForm">
				<h3>Enquire</h3>
				{{ craft.amForms.displayForm('enquire') }}
			</div>

		</div>

		{% block content %}
		{% endblock %}

		<footer id="footer" class="row" data-midnight="grey">
			<div class="columns six">
				{% set entries = craft.entries.section('contact') %}
				{% for entry in entries %}
				<h5>Contact</h5>
				NZ {{ entry.phone }}<br />
				AUS {{ entry.phoneAus }}<br />
                <a href="mailto:info@cookproperty.co.nz">info@cookproperty.co.nz</a>
            </div>
			<div class="columns three midCent">
				<h5>Address</h5>
                {{ entry.address|nl2br }}<br />
			</div>
            <div class="columns three upArrow">
                <h5>Postal</h5>
                {{ entry.postal|nl2br }}<br />
				{% endfor %}
				<a href="#container" class="top"></a>
            </div>
		</footer>
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103751978-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
