{% extends "_layout" %}

{% block content %}

    <ul class="royalSlider rsDefault">
        {% for block in entry.fullpageImageSlider %}
            {% set images = block.imageSlide %}
            {% if images and images|length %}
                <li>
                    {% for image in images %}
                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                    {% endfor %}
                    <figure class="rsCaption">{{ block.imageTitle }}</figure>
                    <div class="downArrow">
                        <a href="#aboutUs"><img src="/assets/img/slide-arrow.svg" alt="Down" title="Down" /></a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <main id="content" data-midnight="grey">

        <section id="aboutUs" class="about">
            <div class="row">
                <div class="columns six">
                    <h3>{{ entry.aboutTitle }}</h3>
                </div>
                <div class="columns six enterPara midCent">
                    {{ entry.aboutParagraph }}
                </div>
            </div>
        </section>

        <section class="overview">

            <h4>Property Overview</h4>

            <ul class="propertyThumb">
            {% for entry in craft.entries.section('properties') %}
                <a href="{{ entry.url }}">
                    <li>
                        {% set thumb = entry.propertyThumbnail.first() %}
                        <img src="{{ thumb.url('thumbnail') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                        <div class="thumbHover">
                            <h5>{{ entry.title }}</h5>
                        </div>
                    </li>
                </a>
            {% endfor %}

                <a href="/for-lease">
                    <li>
                        {% set lease = craft.entries.section('forLease').first %}
                        {% for block in lease.forLease %}
                            {% if loop.first %}
                            {% set image = block.propertyImage %}
                            {% if image and image|length %}
                                {% for propertyImage in image %}
                                    <img src="{{ propertyImage.getUrl('thumbnail') }}" alt="For Lease" title="For Lease" />
                                {% endfor %}
                            {% endif %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                        <div class="thumbHover">
                            <h5>For Lease</h5>
                        </div>
                    </li>
                </a>
            </ul>

        </section>

    </main>

{% endblock %}
