{% extends "_layout" %}

{% block content %}

    <main id="content" data-midnight="grey">
        <section class="tenants">
            <div class="row">
                <div class="columns four logoWrap">
                    <h3>Our Tenants</h3>

                    <div class="placeholderBox">
                    {% for block in entry.tenants %}
                    {% set image = block.tenantLogo.first() %}
                        {% if image %}
                              <img src="{{ image.getUrl() }}" class="placeImg" alt="{{ block.tenantTitle }}">
                        {% endif %}
                    {% endfor %}
                    </div>

                    {% for block in entry.tenants %}
                    <div id="{{ block.tenantTitle|replace({' ':'','(':'',')':''}) }}" class="logoBox">
                        {% set logos = block.tenantLogo %}
                        {% if logos and logos|length %}
                            {% for logos in logos %}
        						<img src="{{ logos.getUrl() }}" width="100%" title="{{ block.tenantTitle }}" alt="{{ block.tenantTitle }}">
        					{% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="columns two">
                    &nbsp;
                </div>
                <div class="columns five tenPara midCent">
                    <h4>{{ entry.tenantIntroduction }}</h4>
                    <ul class="tenantList">
                    {% for block in entry.tenants %}
                        <li id="#{{ block.tenantTitle|replace({' ':'','(':'',')':''}) }}" class="tenantName">{{ block.tenantTitle }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="columns one">
                </div>
            </div>
        </section>
    </main>

{% endblock %}
